/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f9f9f9;
    color: #333;
}

a {
    color: #4CAF50;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Header and Navigation */
header {
    background-color:  white;
    color: #808080;
    padding: 20px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #808080;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Sections */
section {
    padding: 40px 20px;
    margin: 0 auto;
    max-width: 800px;
}

h1, h2, h3, p {
    color: #333;
}

h1 {
    font-size: 28px;
    margin-bottom: 15px;

}

h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

p {
    font-size: 18px;
    text-indent: 20px; /* 第一行向左缩进 */
    padding-left: 20px;  /* 整个段落向右缩进 */
}


/* Main Content (Scrollable) */
.main-content {
    margin-left: 300px; /* 左侧栏宽度 */
    padding: 40px;
    flex-grow: 1;
    background-color: white;
    box-sizing: border-box; /* 确保 padding 不会影响宽度 */
}

.main-content h2 {
    color: #4CAF50;
    font-size: 28px;
    margin-bottom: 20px;
}

.main-content h3 {
    color: #2c3e50;
    font-size: 22px;
    margin-bottom: 15px;
}

.main-content p {
    font-size: 16px;
    margin-bottom: 15px;
}

.main-content ul {
    margin-bottom: 20px;
}

.main-content ul li {
    margin-bottom: 10px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        position: static;
        height: auto;
    }

    .main-content {
        margin-left: 0;
        padding: 20px;
    }

    .navbar {
        flex-direction: column;
        align-items: center;
    }
}
