/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f9f9f9;
    color: #333;
}

a {
    color: #4CAF50;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Header and Navigation */
header {
    background-color:  white;
    color: #808080;
    padding: 15px 0;  /* 缩小 padding */
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;  /* 缩小横向间距 */
}

nav ul li a {
    color: #808080;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Sections */
section {
    padding: 5px 5px;  /* 缩小 padding */
    margin: 0 auto;
    max-width: 800px;
}

/* Main Content (Scrollable) */
.main-content {
    margin-left: 250px;  /* 减小左侧边距 */
    padding: 30px;  /* 缩小 padding */
    flex-grow: 1;
    background-color: white;
    box-sizing: border-box; /* 确保 padding 不会影响宽度 */
}

.main-content h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 8px;  /* 减小标题与段落之间的间距 */
}

.main-content h3 {
    color: #333;
    font-size: 22px;
    margin-bottom: 5px;  /* 减小标题与段落之间的间距 */
}

.main-content p {
    font-size: 16px;
    margin-bottom: 10px;  /* 缩小段落之间的间距 */
}

.main-content ul {
    margin-bottom: 8px;  /* 减少列表与下一个部分之间的间距 */
}

.main-content ul li {
    margin-bottom: 4px;  /* 缩小列表项之间的间距 */
}

/* Responsive Design */
@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        position: static;
        height: auto;
    }

    .main-content {
        margin-left: 0;
        padding: 20px;
    }

    .navbar {
        flex-direction: column;
        align-items: center;
    }
}
